body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.boton4{
 background-color: transparent;
 color: #1DC5CC;
 border: 1px solid #1DC5CC;
}
.boton4:hover{
 background-color: #1DC5CC;
 color: #fff;
 border: 1px solid #1DC5CC;
}
.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
}


.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background-color: #1DC5CC;
  line-height: 45px;
  border-radius: 50px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.masthead {
  color: #fff;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/bg-masthead.png");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead .c-boletos {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 4px;
    font-size: 28px;
    margin-top: 2%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: lighter;
}
.masthead .c-boletos:hover {
    background-color: #1DC5CC;
    color: #fff;
    border: 1px solid #1DC5CC;
}
.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.c-boletos2 {
   background-color: transparent;
   color: #fff;
   border: 1px solid #fff;
   padding-left: 1%;
   padding-right: 1%;
   border-radius: 4px;
   font-size: 20px;
   margin-top: 2%;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   cursor: pointer;
   font-weight: lighter;
}
.c-boletos2:hover {
   background-color: #1DC5CC;
   color: #fff;
   border: 1px solid #1DC5CC;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}

/* Side Menu */
#sidebar-wrapper {
  text-align: right;
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: #624474;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-size: large;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle .fa-bars{
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: transparent;
  line-height: 50px;
  z-index: 999;
}

.menu-toggle .fa-times{
  border:none;
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color:#1DC5CC;
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  color: #fff;
  padding: 3rem 0;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout .tickets {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 4px;
    font-size: 38px;
    margin-top: 2%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.callout .tickets:hover {
background-color: #1DC5CC;
    color: #fff;
    border: 1px solid #1DC5CC;
}

.callout img {
  vertical-align: middle;
  border-style: none;
}

.callout .img-fluid{
  max-width: 100%;
  height: auto;
}

.divider {
    height: 2px;
    background-color:#fff;
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

a {
  color: #fff;
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #0E6268 !important;
}

.bg-buy {
  background-image: url('../img/boletaje.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-primary {
  color: #0E6268 !important;
}

.text-secondary {
  color: #1DC5CC !important;
}

.font3{
  color: #fff;
}
.font4{
  text-align: right;
  font-size: 14px;
  margin-bottom: auto;
}
.margen6 {
  padding-right: 5%;
}
.margen2{
  padding-top: 8%;
}
.margen3{
  padding-top: 7%;
}

.logo{
 width: 100px;
 height: auto;
}
.boton-header{
  text-align: right;
  padding-right: 5%;
}
.boton{
  font-size: 20px;
  background-color: transparent;
  color: #1DC5CC;
  border: 1px solid #1DC5CC;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}
.boton:hover{
  background-color: #1DC5CC;
  color: #fff;
  border: 1px solid #1DC5CC;
}
.styling{
  font-weight: lighter;
  font-size: 30px;
}
.styling2{
  font-weight: lighter;
  font-style: italic;
  font-size: 50px;
}
.styling3{
  font-size: 30px;
}
.styling4{
  font-weight:600;
}
.styling5{
  color: #fff;
  padding-right: 2%;
}

.letras{
  font-size: 25px;
  font-weight: lighter;
}

.margen4{
  margin-top: 2px;
}

.sombra {
  color: white;
  text-shadow: 2px 2px 4px #fff;
}

@media screen and (max-width:767px) {
    .font3 {
        font-size: 20px
    }
    .font4 {
        text-align: right;
        font-size: 10px;
        margin-bottom: auto
    }
    .boton {
        display: none;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif
    }
    .margen7 {
        padding-top: 5%
    }
    .centerlogo {
        text-align: center!important
    }
}

.btnLink {
  background: none;
  margin: 0; 
  padding: 0; 
  border: none; 
  cursor: pointer; 
  color: #2aa0b3
}
.btnLink:hover {
  text-decoration: underline;
}
.logo-patrocinante {
  width: 100%;
  margin-top: 5%;
}
.patrocinantes {
  margin-top: -10%;
}

.logo-patrocinante-boletos {
  width: 100%;
  max-width: fit-content;
}
.patrocinado-boletos {
  margin-bottom: 3%;
}